<!-- <a href="#" class="pure-menu-heading app-title-playlist-header">Confiture</a> -->

<ul>
    <li class="js-popular-playlist-item"><a href="#playlist/popular">Popular</a></li>
    <li class="js-breaking-playlist-item"><a href="#playlist/breaking">Breaking</a></li>
    <li class="js-rare-playlist-item"><a href="#playlist/rare">Rare</a></li>
    <li class="js-chance-playlist-item"><a href="#playlist/chance">Chance</a></li>
    <li class="js-newcomers-playlist-item"><a href="#playlist/newcomers">Newcomers</a></li>
</ul>
